<link rel="stylesheet" href="/css/_header.css">
<header>

<html>
<head>
    <title>Production Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header class="page-header">
        <h1>Production Page</h1>
    </header>
    <!-- Rest of your page content goes here -->
</body>
</html>

</header>