<link rel="stylesheet" href="/css/data.css">

<h1>Form submit</h1>

<section class="form-section">
  <form action="submit.php" method="post">
      <label for="name">Name:</label>
      <input type="text" id="margin" name="name" required>
      <br>
      <label for="email">Email:</label>
      <input type="email" id="margin" name="email" required>
      <br>
      <input type="submit" value="Submit">
  </form>
</section>
